<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.offer.recruitment.mapper.SkillMapper" >
    <resultMap id="BaseResultMap" type="com.offer.recruitment.pojo.Articles" >
        <id column="articleid" property="articleid" jdbcType="INTEGER" />
        <result column="articletitle" property="articletitle" jdbcType="VARCHAR" />
        <result column="articleimg" property="articleimg" jdbcType="VARCHAR" />
        <result column="isshow" property="isshow" jdbcType="TINYINT" />
        <result column="articlecontent" property="articlecontent" jdbcType="VARCHAR" />
        <result column="articlekey" property="articlekey" jdbcType="VARCHAR" />
        <result column="staffid" property="staffid" jdbcType="INTEGER" />
        <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
    articleid, articletitle, articleimg, isshow, articlecontent, articlekey, staffid,
    createtime
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from skill_articles
        where articleid = #{articleid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from skill_articles
    where articleid = #{articleid,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.offer.recruitment.pojo.Articles" >
    insert into skill_articles (articleid, articletitle, articleimg,
      isshow, articlecontent, articlekey,
      staffid, createtime)
    values (#{articleid,jdbcType=INTEGER}, #{articletitle,jdbcType=VARCHAR}, #{articleimg,jdbcType=VARCHAR},
      #{isshow,jdbcType=TINYINT}, #{articlecontent,jdbcType=VARCHAR}, #{articlekey,jdbcType=VARCHAR},
      #{staffid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.offer.recruitment.pojo.Articles" >
        insert into skill_articles
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="articleid != null" >
                articleid,
            </if>
            <if test="articletitle != null" >
                articletitle,
            </if>
            <if test="articleimg != null" >
                articleimg,
            </if>
            <if test="isshow != null" >
                isshow,
            </if>
            <if test="articlecontent != null" >
                articlecontent,
            </if>
            <if test="articlekey != null" >
                articlekey,
            </if>
            <if test="staffid != null" >
                staffid,
            </if>
            <if test="createtime != null" >
                createtime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="articleid != null" >
                #{articleid,jdbcType=INTEGER},
            </if>
            <if test="articletitle != null" >
                #{articletitle,jdbcType=VARCHAR},
            </if>
            <if test="articleimg != null" >
                #{articleimg,jdbcType=VARCHAR},
            </if>
            <if test="isshow != null" >
                #{isshow,jdbcType=TINYINT},
            </if>
            <if test="articlecontent != null" >
                #{articlecontent,jdbcType=VARCHAR},
            </if>
            <if test="articlekey != null" >
                #{articlekey,jdbcType=VARCHAR},
            </if>
            <if test="staffid != null" >
                #{staffid,jdbcType=INTEGER},
            </if>
            <if test="createtime != null" >
                #{createtime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.offer.recruitment.pojo.Articles" >
        update skill_articles
        <set >
            <if test="articletitle != null" >
                articletitle = #{articletitle,jdbcType=VARCHAR},
            </if>
            <if test="articleimg != null" >
                articleimg = #{articleimg,jdbcType=VARCHAR},
            </if>
            <if test="isshow != null" >
                isshow = #{isshow,jdbcType=TINYINT},
            </if>
            <if test="articlecontent != null" >
                articlecontent = #{articlecontent,jdbcType=VARCHAR},
            </if>
            <if test="articlekey != null" >
                articlekey = #{articlekey,jdbcType=VARCHAR},
            </if>
            <if test="staffid != null" >
                staffid = #{staffid,jdbcType=INTEGER},
            </if>
            <if test="createtime != null" >
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where articleid = #{articleid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.offer.recruitment.pojo.Articles" >
    update skill_articles
    set articletitle = #{articletitle,jdbcType=VARCHAR},
      articleimg = #{articleimg,jdbcType=VARCHAR},
      isshow = #{isshow,jdbcType=TINYINT},
      articlecontent = #{articlecontent,jdbcType=VARCHAR},
      articlekey = #{articlekey,jdbcType=VARCHAR},
      staffid = #{staffid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where articleid = #{articleid,jdbcType=INTEGER}
  </update>

    <!--  一下是自己写的mysql代码 -->
    <select id="listAll" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT * FROM skill_articles a
        <if test="isshow!=null and isshow!=''">
            where a.isshow = #{isshow}
        </if>
        order by a.createtime DESC

    </select>



    <select id="userlistAll" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT * FROM skill_articles a
        <if test="isshow!=null and isshow!=''">
            where a.isshow = #{isshow}
        </if>
        order by a.createtime DESC
        limit #{pageSize},#{number}

    </select>

    <select id="countNumber" resultType="java.lang.Integer" parameterType="java.util.Map">
  		SELECT count(a.articleid) as count FROM skill_articles a
   		where a.isshow = #{isshow}
  </select>

</mapper>